// 毛玻璃效果
$glass: blur(20px) saturate(180%) brightness(0.6);

// 视频播放器
.player {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: calc($min-video-container-height * 0.85 + 50px);
	max-height: calc($video-container-height * 0.85 + 50px);
	@include flex($direction: column, $justify: center, $align: center);
	// 视频
	video {
		flex: 1;
		width: 100%;
		// height: 100%;
		height: calc(100% - $progress-height);
		margin-bottom: $progress-height;
		object-fit: contain;
		border-radius: $video-radius;
		outline: none;
		box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.15),
			0 16px 36px 0px rgba(0, 0, 0, 0.15);
		backdrop-filter: $glass;
	}
	// 视频背景
	&::after {
		position: absolute;
		// top: $video-padding-top;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: calc(100% - $progress-height);
		// height: calc(85% - $video-padding-top - 50px);
		object-fit: fill;
		background: no-repeat center var(--video-bg);
		background-size: cover;
		border-radius: $video-radius;
		// 内圈阴影
		box-shadow: 0px 0px 30px 20px rgb(0, 0, 0, 0.7) inset;
		content: "";
	}
}
