$controller-height: 50px;
// 毛玻璃效果
$glass: blur(20px) saturate(180%) brightness(0.6);

.player {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: calc($min-video-container-height * 0.85 + 50px);
	max-height: calc($video-container-height * 0.85 + 50px);
	// overflow: hidden;
	@include flex($direction: column, $justify: center, $align: center);
	video {
		flex: 1;
		width: 100%;
		// height: 100%;
		height: calc(100% - $controller-height);
		margin-bottom: $controller-height;
		object-fit: contain;
		border-radius: $video-radius;
		outline: none;
		box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.15),
			0 16px 36px 0px rgba(0, 0, 0, 0.15);
		backdrop-filter: $glass;
	}
	&::after {
		position: absolute;
		// top: $video-padding-top;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: calc(100% - $controller-height);
		// height: calc(85% - $video-padding-top - 50px);
		object-fit: fill;
		background: no-repeat center var(--video-bg);
		background-size: cover;
		border-radius: $video-radius;
		// 内圈阴影
		box-shadow: 0px 0px 30px 20px rgb(0, 0, 0, 0.7) inset;
		content: "";
	}
}

.controller {
	position: absolute;

	width: 100%;
	height: 100%;
	// backdrop-filter: $glass;
	@include flex($direction: column, $justify: center, $align: center);
	.main {
		position: relative;
		width: 100%;
		height: 100%;
		border-radius: $video-radius;
		cursor: pointer;
		.play-btn {
			&[data-paused="true"] {
				border: solid 2px rgba(255, 255, 255, 0.15);
				transform: translate(-50%, -50%) scale(1);
				transform-origin: center;
				opacity: 1;
				transition: opacity 0.1s ease-in, transform 0.1s ease-in,
					border 0.1s ease-in;

				&:hover {
					border: solid 2px rgba(255, 255, 255, 0.3);
					svg {
						transform: scale(2.2);
						opacity: 1;
					}
				}
			}
			$btn-length: 100px;
			position: absolute;
			top: 50%;
			left: 50%;
			width: $btn-length;
			height: $btn-length;
			line-height: $btn-length;
			text-align: center;
			background-color: rgb(0, 0, 0, 0.2);
			border: solid 20px rgba(255, 255, 255, 0);
			border-radius: 50%;
			transform: translate(-50%, -50%) scale(1.5);
			opacity: 0;
			backdrop-filter: blur(24px) brightness(0.8);
			transition: opacity 0.2s ease-out, transform 0.2s ease-in,
				border 0.1s ease-in;
			svg {
				vertical-align: middle;
				transform: scale(2);
				opacity: 0.9;
				transition: all 0.1s ease-out;
			}
		}

		&:hover {
			.controll-block {
				visibility: initial;
				opacity: 1;
			}
		}

		.controll-block {
			position: absolute;
			right: 12px;
			bottom: 12px;
			gap: 18px;
			width: fit-content;
			height: 42px;
			padding: 0 18px;
			color: rgb(255, 255, 255, 0.87);
			background: rgba(0, 0, 0, 0.2);
			border: solid 1px rgba(255, 255, 255, 0.15);
			border-radius: 8px;
			visibility: hidden;
			opacity: 0.1;
			backdrop-filter: blur(24px);
			transition: border 0.1s ease-out, opacity 0.2s ease-out;
			@include flex(
				$direction: row,
				$align: center,
				$justify: space-between
			);
			&:hover {
				border: solid 1px rgba(255, 255, 255, 0.3);
			}
		}
	}

	.progress-container {
		gap: 12px;
		width: 100%;
		height: $controller-height;
		min-height: $controller-height;
		line-height: $controller-height;
		@include flex($direction: row, $align: center, $justify: space-between);
		.time {
			font-size: small;
		}

		.progress {
			position: relative;
			flex: 1;
			height: 4px;
			overflow: hidden;
			background: #666666;
			border-radius: 4px;
			cursor: pointer;
			opacity: 0.6;
			transition: transform 0.1s ease-out;
			> div {
				width: 100%;
				height: 100%;
				transform: translateX(-100%);
				&.played {
					background-color: #fff;
				}
				&.buffered {
					position: absolute;
					top: 0;
					left: 0;
					background-color: #a0a0a0;
				}
			}
		}
		&:hover .progress {
			border-radius: 8px;
			transform: scaleY(2);
			transition: none;
			transition: transform 0.2s ease-in;
		}
	}
}

.switch {
	position: relative;
	width: 28px;
	height: 16px;
	background-color: rgb(255, 255, 255, 0.2);
	border-radius: 8px;
	// mix-blend-mode: overlay;
	transition: background-color 0.2s ease-out, transform 0.2s ease-out;

	&::after {
		position: absolute;
		top: 2px;
		left: 2px;
		width: 12px;
		height: 12px;
		background-color: #fff;
		border-radius: 6px;
		transition: background-color 0.2s ease-out, transform 0.2s ease-out;
		content: " ";
	}

	&[data-checked="true"] {
		background-color: rgb(255, 255, 255, 1);
		&::after {
			background-color: #000;
			transform: translateX(12px);
		}
	}
}
