// 视频容器
.video-container {
	position: relative;
	flex: 1;
	height: $video-container-height;
	min-height: $min-video-container-height;
	margin-bottom: $main-bottom;
	padding-top: $video-padding-top;
	user-select: none;
	scroll-snap-align: start;
	@include flex($direction: column, $justify: center, $align: space-between);
}

.video-container[data-fullscreen="true"] {
	height: 100vh;
	min-height: 100vh;
	margin-bottom: 0;
	padding-top: 0;
}
