.video-container {
	position: relative;
	flex: 1;
	width: 100%;
	height: calc(100% - $main-bottom);
	margin-bottom: $main-bottom;
	scroll-snap-align: start;
	@include flex($direction: row, $justify: center, $align: space-between);
}
